<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Video Id</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
      {% for dat in data %}
        <tr>
          <td>{{ dat.title }}</td>
          <td>{{ dat.video_id }}</td>
          <td>{{ dat.thumbnail }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% if data.has_other_pages %}
    <ul class="pagination">
      {% if data.has_previous %}
        <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in data.paginator.page_range %}
        {% if data.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if data.has_next %}
        <li><a href="?page={{ data.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}